<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AllBMI Results</title>
</head>
<body>
     <h1>BMI Calculator - BMI Results</h1>
    <table>
      <thead>
        <tr>
          <th>Weight (kg)</th>
          <th>Height (m)</th>
          <th>BMI</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr>
          <td>{{this.weight}}</td>
          <td>{{this.height}}</td>
          <td>{{this.bmi}}</td>
          <td>{{this.status}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <p>Average BMI: {{averageBmi}}</p>
    <a href="/">Calculate Again</a>
</body>
</html>